//META{"name":"Nihilism-Unix", "description":"Compact lists. Rounded square avatars and status borders. Bigger emoji. ACTUALLY blocked messages. No unnecessary scrollbars. More dark elements.", "author":"Observer of Time", "version":"3.03.3"}*//

/* ---- Compact Server List ---- */
.guilds-wrapper {
  border-right: none;
  position: relative;
  margin-top: -10px;
}
.guilds-wrapper .guilds .friends-online {
  display: none;
}
.guilds-add {
  opacity: 0.5;
  font-size: 22px !important;
}
.guilds-wrapper .guild-separator {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -5px;
  display: none;
}
.guilds-wrapper .guild-separator:after {
  background: transparent;
}
.guilds-wrapper .guilds {
  padding: 18px 20px 85px 18px;
}
.guilds-wrapper .guilds .guild .guild-inner {
  background: #151515 !important;
  line-height: 35px;
}
.guilds-wrapper .guilds .guild .guild-inner a,
.guilds-wrapper .guilds .guild,
.guilds-wrapper .guilds .guild .avatar-small {
  width: 35px;
  height: 35px;
}
.guilds-wrapper .guilds .guild .avatar-small {
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
}
.guilds-wrapper .guilds .friends-icon {
  width: 35px;
  height: 35px;
  background-size: 29px 29px;
  margin-top: 2px;
}
.guilds-wrapper .guilds .guild:before,
.guilds-wrapper .guilds .guild.unread:before,
.guilds-wrapper .guilds .guild.selected:before {
  left: -25px;
  transition: 0.2s ease-in-out all;
}
.guilds-wrapper .guilds-error {
  width: 35px;
  height: 35px;
  line-height: 30px;
}

/* ---- Compact Channel List ---- */
.channels-3g2vYe {
  width: 200px;
}
.container-iksrDt {
  width: 190px;
}
.accountDetails-15i-_e .username {
  max-width: 50px;
}

/* ---- Compact Member List ---- */
.channel-members-wrap {
  min-width: 200px;
}
.channel-members {
  max-width: 200px;
  margin-top: -15px;
}
.channel-members .member {
  padding: 5px 12px;
}
.channel-members h2 {
  padding: 1px 10px;
}
.channel-members .member + h2 {
  margin-top: 10px;
}
.channel-members .member .member-username,
.channel-members .member .member-activity-text {
  max-width: 125px;
}
.scrollerWrap-2uBjct {
  height: 110%;
}

/* ---- Bigger Emoji ---- */
.emoji {
  width: auto !important;
  height: auto !important;
  max-width: 50px !important;
}
.reaction .emoji {
  width: 40px !important;
  height: auto;
  margin: 2px 0;
}
.embed .emoji {
  margin: 0 !important;
}

/* ---- Hide Blocked Messages ---- */
.message-group-blocked {
  display: none;
}

/* ---- Dark Elements ---- */
.need-help-modal.deprecated .header,
.need-help-modal.deprecated .form-inner.loading,
.need-help-modal.deprecated .footer,
.create-guild-container.deprecated,
.create-guild-container.deprecated .form.deprecated .form-inner,
.create-guild-container.deprecated .form-actions,
.create-guild-container.deprecated .form-actions .btn-default,
#user-profile-modal .header,
#user-profile-modal .header:after,
#user-profile-modal .tab-bar-container,
#user-profile-modal .scroller,
#user-profile-modal .avatar-wrapper,
#user-profile-modal .avatar-wrapper,
#user-profile-modal .guilds .section + .section,
#user-profile-modal .empty,
.menu-3BZuDT {
  background: #333 !important;
  border: none;
}
.search-popout,
.search-popout .results-group::before,
.search-popout .option::after,
div[class*="autocomplete"],
.empty:hover {
  background: #333 !important;
  border: none !important;
  box-shadow: none;
  color: white !important;
}
.note textarea:focus,
#user-profile-modal .guilds .guild:hover,
.chat .new-messages-bar,
.chat .new-messages-bar:hover,
.bd-blue .chat .new-messages-bar:hover,
#friends .tab-bar .tab-bar-item.selected,
#friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected,
.search-popout .option.selected,
.search-popout .option.selected::after,
#autocomplete-popout header {
  background: #444 !important;
  color: silver !important;
}
.quick-message,
.small-popout-box,
.menu-3BZuDT .item-rK1j5B:hover  {
  background-color: #444 !important;
  color: lightgray !important;
  border: none;
}
.need-help-modal.deprecated .header input[type=text],
.need-help-modal.deprecated .header input[type=text]:focus,
.form.deprecated .control-group input[type=text] {
  background: #555;
  color: #FFF;
  box-shadow: none;
  border: none;
  padding-left: 10px;
}
.create-guild-container.deprecated .create-or-join .action,
.bd-blue .tooltip,
.tooltip.tooltip-black {
  background: #555 !important;
}
div[class*="tooltip-bottom"]:after,
div[class*="tooltip-bottom"]:after {
  border-bottom-color: #555 !important;
}
div[class*="tooltip-right"]:after,
div[class*="tooltip-right"]:after {
  border-right-color: #555 !important;
}
div[class*="tooltip-left"]:after,
div[class*="tooltip-left"]:after {
  border-left-color: #555 !important;
}
div[class*="tooltip-top"]:after,
div[class*="tooltip-top"]:after {
  border-top-color: #555 !important;
}
div[class*="activityUserPopout-"],
div[class*="userPopout-"] div[class*="header-"],
div[class*="topSection"],
.keyboard-shortcuts-modal {
  background: #2f3136 !important;
}
.search-popout,
.search-popout .results-group::before,
.search-popout .option::after,
.search-popout .date-picker,
div[class*="react-datepicker"],
div[class*="autocomplete"],
.empty:hover {
  background: #2f3136 !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
}
.search-popout .option.selected,
.search-popout .option.selected::after,
div[class*="react-datepicker__day"]:hover {
  background: darkslategray !important;
}
div[class*="headerFill"] {
  background: transparent;
}
.avatar-uploader-inner,
.region-select-inner,
.region-select button {
  border-color: #808080 !important;
}
div[class*="autocomplete"] div[class*="content-"],
.keyboard-shortcuts-modal .modal-title,
.keyboard-shortcuts-modal .modal-subtitle,
.keybind-description,
.keybind-shortcut {
  color: silver !important;
}
.search-popout .results-group .header {
  color: #696969 !important;
}
.search-popout .option .non-text,
div[class*="search-bar"] input {
  color: #FFF !important;
}
.search-popout .option strong {
  color: #AAA !important;
}
.search-popout .option.user .displayed-nick {
  color: #888;
}
.search-popout .option .filter {
  color: lightslategray;
}
.uploadModal-2KN6Mm,
.uploadModal-2KN6Mm .footer-4pOKm8,
.uploadDropModal-BpFgz7 .bgScale-1i4Cp3 {
  background-color: #2f3136 !important;
}
.uploadModal-2KN6Mm .inner-1-09ZV,
.uploadDropModal-BpFgz7.inner-1-09ZV {
  border-color: gray;
}
.uploadModal-2KN6Mm .inner-1-09ZV textarea {
  background-color: #393b40;
  border-radius: 5px;
}
.uploadModal-2KN6Mm .inner-3if5cm {
  background: inherit;
}
.uploadModal-2KN6Mm .button {
  background-color: darkslategray !important;
  border-radius: 5px;
  margin-left: 3.5px;
}
.uploadModal-2KN6Mm .button-primary {
  background-color: slategray !important;
  color: white !important;
}
.uploadModal-2KN6Mm .button:hover {
  opacity: 0.8;
  text-decoration: underline;
}
.uploadModal-2KN6Mm .icon-19bbE_,
.uploadDropModal-BpFgz7 .icon-19bbE_ {
  filter: grayscale(90%);
}
#autocomplete-popout .row.selected {
  background: lightslategray !important;
}
.emojiPicker-3g68GS,
.emojiPicker-3g68GS .search-bar,
.emojiPicker-3g68GS .category-3rCtoh,
.diversitySelector-O3ea2c .popout-2lja3I {
  background: #333 !important;
  border: none;
}
.emojiItem-3l4Fa9.selected-1LQfcZ {
  background-color: hsla(0, 2.6%, 30.6%, 0.6) !important;
}
.emojiPicker-3g68GS .dimmer-jySV_v.visible-1CGy1m {
  background: hsla(210, 9%, 30.6%, 0.6) !important;
}
.premiumPromo-HqV_qx {
  background: #333;
}
.premiumPromoTitle-q7xvT_ {
  color: gray;
}
.premiumPromoDescription-3ldaqG {
  color: silver;
}
.premiumPromoImage-EF7d-a {
  filter: brightness(85%);
}
.premiumPromo-HqV_qx .btn,
.premiumPromo-HqV_qx .btn:hover {
  background-color: darkslategray;
  color: white;
}

/* ---- Rounded Square Avatars and Status Borders ---- */
div[class*="avatar"],
div[class*="image-"],
div[class*="status"]:not(.member-status),
.guild-inner,
.guilds-add,
.guilds-error,
.guild-placeholder,
.embedAuthorIcon-S7s7pw {
  border-radius: 25% !important;
}
div[class*="status"] {
  top: -2px;
  left: -2px;
}
.avatar-small .status,
div[class*="listAvatar"] div[class*="status"],
div[class*="autocomplete"] div[class*="status"],
.status-3jUEha {
  width: 100% !important;
  height: 100% !important;
  background: transparent;
}
.avatar-small .status-online,
div[class*="statusOnline"] {
  border: 2px solid #43B581 !important;
}
.avatar-small .status-idle,
div[class*="statusIdle"] {
  border: 2px solid #FAA61A !important;
}
.avatar-small .status-dnd,
div[class*="statusDnd"] {
  border: 2px solid #F04747 !important;
}
.avatar-small .status-streaming,
div[class*="statusStreaming"] {
  border: 2px solid #643DA7 !important;
}
.avatar-small .status-invisible,
.avatar-small .status-offline,
div[class*="statusInvisible"],
div[class*="statusOffline"] {
  border: 2px solid #747F8D !important;
  display: block !important;
}
div[class*="statusProfile-"] {
  width: 100% !important;
  height: 100% !important;
  background: transparent;
  top: -4px;
  left: -4px;
}
div[class*="statusOnlineProfile"] {
  border: 4px solid #43B581 !important;
  box-shadow: none !important;
}
div[class*="statusIdleProfile"] {
  border: 4px solid #FAA61A !important;
  box-shadow: none !important;
}
div[class*="statusDndProfile"] {
  border: 4px solid #F04747 !important;
  box-shadow: none !important;
}
div[class*="statusStreamingProfile"] {
  border: 4px solid #643DA7 !important;
  box-shadow: none !important;
}
div[class*="statusInvisibleProfile"],
div[class*="statusOfflineProfile"] {
  border: 4px solid #747F8D !important;
  box-shadow: none !important;
}
div[class*="mask-"] {
  mask: none !important;
  -webkit-mask: none !important;
}
.status.status-typing {
  width: 30px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.status.status-typing .spinner .spinner-inner {
  left: 1px;
  top: 1px;
}

/* ---- Misc ---- */
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
  border: 4px solid rgba(255, 255, 255, 0) !important;
  backround-color: inherit !important;
}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  border: 4px solid rgba(255, 255, 255, 0) !important;
  background-color: inherit !important;
}
div[class*="scroller-"]::-webkit-scrollbar-track-piece,
div[class*="scroller-"]::-webkit-scrollbar-thumb,
div[class*="scroller-"]::-webkit-scrollbar-track {
  background: inherit !important;
  border: none !important;
  visibility: hidden !important;
}

.channel-members h2,
.private-channels header {
  text-align: center;
  position: relative;
  right: -5px;
}
div[class*="channels-"] div[class*="nameDefault-L"],
div[class*="channels-"] div[class*="nameHovered-1"] {
  margin-left: 5px;
}
div[class*="wrapper-"] > div[class*="content-"] {
  padding-left: 13px;
}

div[class*="channels-"] .nameDefault-Lnjrwm,
div[class*="channels-"] .nameHovered-1YFSWq {
  margin-left: 5px;
}
div[class*="wrapper-"] > div[class*="content-"] {
  padding-left: 13px;
}

.botTagInvert-gorWR_,
.bot-tag {
  height: 11px;
  line-height: 12px;
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  background: #7289DA;
  color: #FFF;
}

.cardWarning-31DHBH {
  background: #F04747;
  border: none;
}

#autocomplete-popout header::before {
  border-top-color: #444 !important;
}
.popout section:after,
.popout section:before {
  border: none !important;
}

.react-datepicker__navigation {
  border: none !important;
}
.date-picker .date-picker-hint .hint-value {
  background: #666 !important;
}

.addButton-3RuTE0,
.role-3rahR_,
.roleCircle-3-vPZq {
  border-radius: 4px;
}

.mention {
  border-radius: 5%;
}
.mention:hover {
  color: #DDD;
}

.keybind-shortcut span .bind-arrow g {
  fill: silver !important;
}
.keybind-shortcut.dim span {
  background-color: inherit;
  color: silver !important;
}
.keyboard-shortcuts-modal .ddr-arrows {
  filter: grayscale(90%);
}
.keyboard-shortcuts-modal .scroller-wrap .scroller::-webkit-scrollbar-thumb,
.keyboard-shortcuts-modal .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  display: none;
}

.attachButtonPlus-2l1NEU {
  fill: #BBB !important;
}
.create-guild-container.deprecated .action .action-body {
  color: #FFF;
  z-index: 1000 !important;
}
.create-guild-container.deprecated .create-or-join .actions .or {
  display: none;
  z-index: 0 !important;
}

.separator-1hpa3S {
  display: none !important;
}

[id*="bda-qem"],
[id*="bda-qem"] .scroller::-webkit-scrollbar-thumb,
.preview-container .preview-wrapper {
  color: #DDD;
  background-color: #333 !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
}
.preview-container {
  position: relative;
  right: 2px !important;
}

.base-3AoPqv {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ---- PTB & Canary changes ---- */
/* N/A */

